.container {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    
    @media screen and(min-width: 480px) {
        width: 480px;
        padding-left: 31px;
        padding-right: 31px;
    }

    @media screen and(min-width: 768px) {
        width: 768px;
	    padding-left: 40px;
        padding-right: 40px;

    }

    @media screen and(min-width: 1280px) {
        width: 1280px;
        padding-left: 55px;
        padding-right: 55px;

    }
}
