.portfolio-container {
    position: relative;
    // width: $mobile;
    // height: 1784px;
    // padding: 84px 0px 84px 0px;
    // margin: 0px;
    background-color: #e5e5e5;
   
    // @media screen and (min-height: $tablet) {
    //  width: $tablet;
    // //  padding: 0px 39px 0px 39px;
    //  margin: 0px;
    // }
   
    // @media screen and (min-height: $desktop) {
    //  width: $desktop;
    //  padding: 0px 55px 0px 55px;
    //  margin: 0px;
    // }
}


// отступы фотографий (нижний:к 3-м пепвым фото)
   .portfolio-box > li:nth-child(-n + 3) {
    margin-bottom: 30px;

    // @media screen and (min-height: $desktop) {
    //  margin-right: 30px;
    // }
   }
   
// правый отступ первой фотографий (длязазора меж колонками)
    @media screen and (min-height: $tablet) {
     .portfolio-box > li:first-child {
     margin-right: 30px;
    }
// отступы фотографий (правий:к 3-м пепвым фото)
    @media screen and (min-height: $desktop) {
    .portfolio-box > li:nth-child(-n + 3) {
        margin-right: 30px;
    }
   }
   
   // стилизирую li чтоб облягала фотографию
   .portfolio-box > li {
    // height: 360px;
    box-sizing: content-box;
    text-decoration: none;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
//    li распложыть с лева на право
    @media screen and (min-height: $tablet) {
    flex-direction: row ;
     height: 360px;
    }
   }
   //    обнуляю отступы img
   .portfolio img {
    padding: 0px;
    margin: 0px;
   }
//    обнуляю отступы portfolio-box
   .portfolio-box {
    padding: 0px;
    margin: 0px;
    display: block;
    box-sizing: border-box;

    @media screen and (min-height: $tablet) {
        display: flex;
       }
   }
//    img относительно контейнера cover
   .portfolio-Razor,
   .portfolio-towe,
   .portfolio-shavin,
   .portfolio-heirbrush {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat center;
    width: $mobile;
    padding: 0px;
    margin: 0px;

    @media screen and (min-height: $tablet) {
     width: 330px;
    }
   
    @media screen and (min-height: $desktop) {
     width: 270px;
    }
   }
   
   .small-text {
    width: 338px;
    height: 42px;
    padding: 0px;
    margin: 0px 0px 0px 80px;
    text-align: left;
   
    font-family: $basic-font;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.9;
    /* or 191% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    fill: $title-color;
    color: $title-color;
   
    @media screen and (min-height: $tablet) {
     width: 343px;
     line-height: 15px;
    }
   }
   
   section .small-text::before {
    display: block;
    width: 60px;
    height: 1px;
    content: '';
    border-bottom: 1px solid $title-color;
    position: absolute;
    left: 15px;
    top: 70px;
    // top: 4%;
    color: $title-color;
   }