@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");
.container {
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container ul {
  list-style: none;
}

.portfolio-container {
  width: 480px;
  height: 1784px;
  padding: 15px 0px 15px 0px;
  margin: 0px;
  background-color: tomato;
}

.portfolio-span {
  display: inline;
}

.portfolio-box > li:nth-child(-n + 3) {
  margin: 30px;
}

.portfolio-box > li {
  text-decoration: none;
}

.portfolio-box {
  display: block;
}

.portfolio-Razor,
.portfolio-towe,
.portfolio-shavin,
.portfolio-heirbrush {
  background-size: cover;
  background-repeat: no-repeat center;
}

.small-text {
  width: 338px;
  height: 42px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 21px;
  /* or 191% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  fill: #303030;
}

.services {
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  min-height: 826x;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.7)), to(rgba(17, 19, 25, 0.8))), url(../images/services-bg@1.jpg);
  background-image: linear-gradient(rgba(17, 19, 25, 0.7), rgba(17, 19, 25, 0.8)), url(../images/services-bg@1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 39px;
    padding-right: 39px;
    min-height: 858px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.7)), to(rgba(17, 19, 25, 0.8))), url(../images/services-bg-tab@1.jpg);
    background-image: linear-gradient(rgba(17, 19, 25, 0.7), rgba(17, 19, 25, 0.8)), url(../images/services-bg-tab@1.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 55px;
    padding-right: 55px;
    min-height: 718px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.7)), to(rgba(17, 19, 25, 0.8))), url(../images/prices-bg-desktop@1.jpg);
    background-image: linear-gradient(rgba(17, 19, 25, 0.7), rgba(17, 19, 25, 0.8)), url(../images/prices-bg-desktop@1.jpg);
  }
}

.section-subtitle {
  position: relative;
  margin: 0 0 20px 80px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.section-subtitle::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.section-title {
  margin: 0 0 44px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .overlay {
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (max-width: 1199px) and (min-width: 1200px) {
  .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-desktop {
    padding: 30px 40px 30px 40px;
    margin: 0;
    min-width: calc(50%-1px);
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .price-list {
    font-size: 18px;
    line-height: 1.67;
  }
}

.item-service {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.element {
  position: relative;
}

.element::after {
  content: '';
  position: absolute;
  bottom: 7px;
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.element.one::after {
  width: 115%;
}

.element.two::after {
  width: 125%;
}

.element.three::after {
  width: 178%;
}

.element.four::after {
  width: 50%;
}

.element.five::after {
  width: 100%;
}

.element.six::after {
  width: 80%;
}

.element.seven::after {
  width: 40%;
}

.element.eight::after {
  width: 50%;
}

.knock.recording {
  background-color: transparent;
  text-transform: uppercase;
  margin-bottom: 0;
}

.contacts-section {
  background-color: #191c26;
  font-family: Raleway, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacts-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}

.form-field {
  margin-top: 44px;
  padding: 0px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

.form-input {
  width: 100%;
  border: none;
  background-color: inherit;
  height: 24px;
  color: rgba(157, 164, 189, 0.4);
}

.textarea-input {
  height: 76px;
  width: 100%;
  border: none;
  background-color: inherit;
  color: rgba(157, 164, 189, 0.4);
}

.knock {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  display: block;
  margin-top: 44px;
  padding: 12px 38px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  background-color: inherit;
  /* justify-content: center;
    align-items: center; */
}

.contacts-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.9))), url(../images/contacts-backgroundX1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9)), url(../images/contacts-backgroundX1.jpg);
  background-size: cover;
  background-position: center;
  /* opacity: 0, 1; */
}

.contacts-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  /* text-decoration-line: underline; */
  color: #9da4bd;
  text-decoration: none;
}

.icon-contacts {
  margin-right: 16px;
  padding: 1px;
}

.working-hours {
  margin-top: 44px;
}
/*# sourceMappingURL=main.css.map */