<article class="example">
  <section class="portfolio-container"><!-- portfolio -->
    <span class="portfolio-span">
      <svg width="61" height="11" class="portfolio-svg">
        <line x1="20" y1="5" x2="80" y2="5" stroke="black" stroke-width="1" fill=#303030 class=""/>
      </svg>
      <h2 class="small-text">НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБА" ОЗНАЧАЕТ "БОРОДА"</h2>
      <ul class="portfolio-box">
          <li><img src="/src/images/heirbrush25.jpg" alt="выравнивание кончиков волос" height="330"></li>
          <li><img src="/src/images/shavin-brush26.jpg" alt="работа помазком" height="330"></li>
          <li><img src="/src/images/towel27.jpg" alt="распаривание лица" height="330"></li>
          <li><img src="/src/images/Razor28.jpg" alt="окантовка затылка" height="330"></li>
      </ul>
    </span>
  </section>

  <!-- <h1>HTML-фрагменты</h1>

  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов
    (фрагментов). Фрагменты хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов
    страниц, например <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с
    разметкой определённой части главной страницы. Это очень удобно при
    командной разработке на студенческих проектах, когда в одном HTML-файле
    пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code>
      &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt;
    </code>
  </p> -->
</article>
