<section class="section"><!-- portfolio -->
  <div class="container">
    <div class="portfolio-masters-block">
      <p class="portfolio-manifest">
          НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБА" ОЗНАЧАЕТ "БОРОДА"
      </p>
      <ul class="portfolio-list">
        <li class="portfolio-list-item">
          <picture>
            <source
              srcset="
                ../src/images/heirbrush-mob.jpg    1x,
                ../src/images/heirbrush-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../src/images/heirbrush-desktop.jpg    1x,
                ../src/images/heirbrush-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/heirbrush-tab.jpg    1x,
                ../src/images/heirbrush-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="master-photo"
              src="../src/images/heirbrush-mob.jpg"
              alt="обслуживание"
            />
          </picture>
        </li>
        <li class="master-list-item">
          <picture>
            <source
              srcset="
                ../src/images/shavin-brush-mob.jpg    1x,
                ../src/images/shavin-brush-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../src/images/shavin-brush-desktop.jpg    1x,
                ../src/images/shavin-brush-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/shavin-brush-tab.jpg    1x,
                ../src/images/shavin-brush-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="master-photo"
              src="../src/images/shavin-brush-mob.jpg"
              alt="обслуживание"
            />
          </picture>
        </li>
        <li class="master-list-item">
          <picture>
            <source
              srcset="
                ../src/images/towel-mob.jpg    1x,
                ../src/images/towel-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../src/images/towel-desktop.jpg    1x,
                ../src/images/towel-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/towel-tab.jpg    1x,
                ../src/images/towel-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="master-photo"
              src="../src/images/towe-mob.jpg"
              alt="обслуживание"
            />
          </picture>
        </li>
        <li class="master-list-item">
          <picture>
            <source
              srcset="
                ../src/images/Razor-mob.jpg    1x,
                ../src/images/Razor-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../src/images/Razor-desktop.jpg    1x,
                ../src/images/Razor-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/Razor-tab.jpg    1x,
                ../src/images/Razor-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="master-photo"
              src="../src/images/Razor-mob.jpg"
              alt="обслуживание"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>