<section class="section"><!-- portfolio -->
  <div class="container">
    <div class="portfolio-container">
      <span class="qqqq">
        <h2 class="small-text">
          НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБА" ОЗНАЧАЕТ "БОРОДА"
        </h2>
      </span>
      <div class="containers">
        <!-- <img src="./images/Rectangle25.jpg" alt="выравнивание кончиков волос"> -->
        <img src="./src/images/heirbrush25.jpg"
              alt="выравнивание кончиков волос"
              height="360">
        <!-- <img src="./images/Rectangle26.jpg" alt="выравнивание кончиков волос"> -->
         <img src="./src/images/shavin-brush26.jpg"
              alt="работа помазком"
              height="360">
        <!-- <img src="./images/Rectangle27.jpg" alt="выравнивание кончиков волос"> -->
        <img src="./src/images/towel27.jpg"
              alt="распаривание лица"
              height="360">
        <!-- <img src="./images/Rectangle28.jpg" alt="выравнивание кончиков волос"> -->
        <img src="./src/images/Razor28.jpg"
              alt="окантовка затылка"
              height="360">
      </div>
    </div>
  </div>
</section>
