<section class="section portfolio-container"><!-- portfolio -->
      <h2 class="small-text">НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБА" ОЗНАЧАЕТ "БОРОДА"</h2>
      <ul class="portfolio-box">
        <li>
            <!-- <img src="./images/Rectangle 25.jpg" alt="выравнивание кончиков волос"  class="portfolio-heirbrush"> -->
            <img src="./src/images/heirbrush25.jpg" alt="выравнивание кончиков волос" height="360" class="portfolio-heirbrush">
        </li>
        <li>
            <!-- <img src="./images/Rectangle 26.jpg" alt="выравнивание кончиков волос" class="portfolio-shavin"> -->
            <img src="./src/images/shavin-brush26.jpg" alt="работа помазком" height="360" class="portfolio-shavin">
        </li>
        <li>
            <!-- <img src="./images/Rectangle 27.jpg" alt="выравнивание кончиков волос" class="portfolio-towe"> -->
            <img src="./src/images/towel27.jpg" alt="распаривание лица" height="360" class="portfolio-towe">
        </li>
        <li>
            <!-- <img src="./images/Rectangle 28.jpg" alt="выравнивание кончиков волос" class="portfolio-Razor"> -->
            <img src="./src/images/Razor28.jpg" alt="окантовка затылка" height="360" class="portfolio-Razor">
        </li>
      </ul>
</section>