<section class="services">
  <h3>Проведи время в компании лучших мастеров</h3>
  <h2>Услуги и цены</h2>
  <ul>
    <li class="item">
      <span class="service">Мужская стрижка</span>
      <span class="price">от 300 грн.</span>
    </li>
    <li class="item">
      <span class="service">Стрижка бороды</span>
      <span class="price">от 200 грн.</span>
    </li>
    <li class="item">
      <span class="service">Стрижка усов</span>
      <span class="price">от 200 грн.</span>
    </li>
    <li class="item">
      <span class="service">Бритье опасной бритвой</span>
      <span class="price">от 200 грн.</span>
    </li>
    <li class="item">
      <span class="service">Стрижка у стажера</span>
      <span class="price">от 50 грн.</span>
    </li>
    <li class="item">
      <span class="service">Стрижка под насадку</span>
      <span class="price">от 200 грн.</span>
    </li>
    <li class="item">
      <span class="service">Детская стрижка (до 12 лет)</span>
      <span class="price">от 300 грн.</span>
    </li>
    <li class="item">
      <span class="service">Камуфлирование седины</span>
      <span class="price">от 200 грн.</span>
    </li>
  </ul>
  <button type="button" class="knock">онлайн-запись</button>
</section>
