<section class="services">
  <h3 class="section-subtitle">Проведи время в компании лучших мастеров</h3>
  <h2 class="section-title">Услуги и цены</h2>
  <div class="overlay">
    <ul class="price-list description">
      <li class="item service">Мужская стрижка</li>
      <li class="item service">Стрижка бороды</li>
      <li class="item service">Стрижка усов</li>
      <li class="item service">Бритье опасной бритвой</li>
      <li class="item service">Стрижка у стажера</li>
      <li class="item service">Стрижка под насадку</li>
      <li class="item service">Детская стрижка (до 12 лет)</li>
      <li class="item service">Камуфлирование седины</li>
    </ul>
    <ul class="price-list price">
      <li class="item">
        <span class="price">от 300 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 200 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 200 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 200 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 50 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 200 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 300 грн.</span>
      </li>
      <li class="item">
        <span class="price">от 200 грн.</span>
      </li>
    </ul>
  </div>
  <button type="button" class="knock recording">онлайн-запись</button>
</section>
